APP__DEBUG=false
APP__BOOSTY_URL=http://localhost
APP__GITHUB_URL=https://github.com/axindri/FastRayGram
APP__JWT_SECRET=change-me
APP__SUPERUSER_TOKEN=change-me
APP__MONITORING_SERVICE_URL=http://localhost:8000/status/

DB__HOST=postgres
DB__PORT=5432
DB__USER=fastraygram
DB__PASSWORD=fastraygram
DB__DB=fastraygram

XUI__API_KEY=change-me
XUI__URL=https://12.12.12.123:12345/AbCd
XUI__SUB_URL=https://12.12.12.123:12345/sub

TIMEWEB__TOKEN=change-me
TIMEWEB__PAYER_ID=12345

CHECK_INTERVAL_SEC=30
APP_PORT=8000
FRONTEND_PORT=80
