services:
  frg-notificator:
    container_name: notificator
    build:
      dockerfile: ./docker/Dockerfile
    restart: always
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_WEB_APP_URL=${TELEGRAM_WEB_APP_URL}
      - TELEGRAM_SUPERUSER_ID=${TELEGRAM_SUPERUSER_ID}
      - APP_DEBUG=${APP_DEBUG:-false}
      - APP_CLEANUP_PERIOD_DAYS=${APP_CLEANUP_PERIOD_DAYS:-30}
      - APP_PROCESS_PERIOD_SEC=${APP_PROCESS_PERIOD_SEC:-10}
      - APP_CONFIG_EXPIRY_NOTIF_HOURS=${APP_CONFIG_EXPIRY_NOTIF_HOURS:-2}
    logging:
      driver: "json-file"
      options:
        max-size: "500m"
        max-file: "2"
    networks:
      - backend_default

networks:
  backend_default:
    external: true
