.progressBar {
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-sm);
  /* margin-bottom: 0.5rem; */
}

.progressBarFill {
  height: 100%;
  background-color: var(--color-accent);
  border-radius: var(--radius-sm);
}

.progressBarFill.success {
  height: 100%;
  background-color: var(--color-success);
  border-radius: var(--radius-sm);
}

.progressBarFill.warning {
  height: 100%;
  background-color: var(--color-warning);
  border-radius: var(--radius-sm);
}

.progressBarFill.error {
  height: 100%;
  background-color: var(--color-error);
  border-radius: var(--radius-sm);
}
