.infoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2rem;
  align-self: center;
}
