.toggleButton {
  display: flex;
  justify-content: flex-end;
}

.toggle {
  padding: 0.1rem 0.4rem;
  min-width: 2rem;
  min-height: 2.1rem;
  height: fit-content;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  background-color: var(--color-button-secondary);
  color: var(--color-text-primary);
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle:hover {
  background-color: var(--color-button-secondary-hover);
}

.toggle.active {
  background-color: var(--color-button-primary);
  color: var(--color-button-text);
  border-color: transparent;
}

